.carouselBody{
  
}

.carousel {
    opacity: 0.8;
    width:900px!important;
    display: block;
   
   

    .carousel-caption p{
        margin-bottom: 250px;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: Left;
        Vertical-align: Top;
        color:#07042b;

        // @media screen {
        // margin-bottom: 100px;
        // font-size: 44px;
        // font-weight: 700;
        // line-height: 45px;
        // }
    }

    .image1 {
        opacity: 0.6;
    }
  }


